<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{fragments::bootstrap}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body class="container-md">

    <div th:insert="~{fragments :: navbar}"></div>


    <div class="row">

        <div class="col-sm"></div>
        <div class="col-sm">
            <br>
            <h3>Add attendance</h3>
            <form class="form" th:action="@{/trainings/{id}/attendance/add(id=${training.trainingId})}" th:object="${players}" method="POST">

                <div class="mb-3">

                    <select class="form-select form-select-lg mb-3" multiple aria-label="multiple select example" th:field="*{playerList}">

                        <option th:each="player : ${predefinedPlayers}"
                                th:value="${player.playerId}"
                                th:text="${player.playerId} +' - '+ ${player.surname} + ' ' + ${player.name}">

                    </select>

                    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
        <div class="col-sm"></div>

    </div>

    <br>
    <hr>

<div th:insert="~{fragments :: footer}"></div>

</body>
</html>
