<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{fragments::bootstrap}">
        <meta charset="UTF-8">
        <title>Home</title>
    </head>

    <div th:if="${!@getLoginState.loggedIn}">
        <div th:insert="~{fragments :: navbar}"></div>
        <body class="container-md">
        <div th:insert="~{fragments::login}"></div>
        </body>
    </div>

    <body class="container-md" th:if="${@getLoginState.loggedIn}">

        <div th:insert="~{fragments :: navbar}"></div>

        <br>
        <br>

        <div class="row">
            <div class="col-md"></div>
            <div class="col-md-auto"><h1>Welcome to football manager.</h1></div>
            <div class="col-md"></div>
        </div>

        <div>
            <br>
            <br>
            <div class="row" th:if="${@getLoginState.isManger or @getLoginState.isCoach}">

                <div class="col-sm"></div>
                <div class="col-md-auto">
                    <button class="btn btn-primary"><a style="text-decoration: none;color: aliceblue" href="/add/news">ADD NEW POST</a></button>
                </div>
                <div class="col-sm"></div>

            </div>
            <br>
            <br>
        </div>

        <div class="row">
            <div th:each="news, stat : ${newsList}">
                <h2 th:text="${news.subject}"></h2>
                <p th:text="${news.content}"></p>
                <span class="badge bg-secondary" th:text="'Posted: ' +  ${#temporals.format(news.dateTime, 'dd-MM-yyyy HH:mm')}">Posted 2012-08-02 20:47:04</span>
                <hr th:if="${!stat.last}"><br>
            </div>
        </div>

        <hr>
        <div th:insert="~{fragments :: footer}"></div>
    </body>

</html>
