<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments::bootstrap}">
    <meta charset="UTF-8">
    <title>Players</title>
</head>
<body class="container-md">

    <div th:insert="~{fragments :: navbar}"></div>

    <br>
    <br>
    <div class="row">

        <div class="col-sm"></div>
        <div class="col-md-auto">
            <button class="btn btn-primary"><a style="text-decoration: none;color: aliceblue" href="/players/add">ADD NEW PLAYER</a></button>
        </div>
        <div class="col-sm"></div>

    </div>
    <br>
    <br>

    <table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Remove</th>
                <th>Update</th>
                <th>Details</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="player : ${players}" th:if="${not #lists.isEmpty(players)}">
                <td th:text="${player.playerId}"></td>
                <td th:text="${player.name}"></td>
                <td th:text="${player.surname}"></td>
                <td><a th:href="@{/players/remove/{id}(id=${player.playerId})}">remove</a></td>
                <td><a href="">update</a></td>
                <td><a th:href="@{/players/details/{id}(id=${player.playerId})}">details</a></td>
            </tr>
        </tbody>
    </table>

    <br>
    <hr>

    <div th:insert="~{fragments :: footer}"></div>

</body>
</html>
