<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments::bootstrap}">
    <meta charset="UTF-8">
    <title>Trainings</title>
</head>

<div th:if="${!@getLoginState.loggedIn}">
    <div th:insert="~{fragments :: navbar}"></div>
    <body class="container-md">
    <div th:insert="~{fragments::login}"></div>
    </body>
</div>

<body class="container-md" th:if="${@getLoginState.loggedIn}">

<div th:insert="~{fragments :: navbar}"></div>

<br>
<br>
<div class="row" th:if="${@getLoginState.isCoach}">

    <div class="col-sm"></div>
    <div class="col-md-auto">
        <button class="btn btn-primary"><a style="text-decoration: none;color: aliceblue" href="/trainings/add" th:text="#{addTraining}">ADD NEW TRAINING</a></button>
    </div>
    <div class="col-sm"></div>

</div>
<br>
<br>

<table class="table">

    <thead>
        <tr>
            <th th:text="#{date}">Date</th>
            <th th:text="#{type}">Type</th>
            <th th:text="#{remove}" th:if="${@getLoginState.isCoach}">Remove</th>
            <th th:text="#{attendance}">View Attendance</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="training : ${trainings}" th:if="${not #lists.isEmpty(trainings)}">
            <td th:text="${#temporals.format(training.date, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${training.type}"></td>
            <td th:if="${@getLoginState.isCoach}">
                <a th:href="@{/trainings/{id}/remove(id=${training.trainingId})}" th:text="#{remove}">remove</a>
            </td>
            <td ><a th:href="@{/trainings/{id}/attendance(id=${training.trainingId})}" th:text="#{attendance}">View attendance</a></td>
        </tr>
    </tbody>
</table>

<br>
<hr>

<div th:insert="~{fragments :: footer}"></div>

</body>
</html>
