<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments::bootstrap}">
    <meta charset="UTF-8">
    <title>Trainings</title>
</head>
<body class="container-md">

<div th:insert="~{fragments :: navbar}"></div>

<br>
<br>
<div class="row">

    <div class="col-sm"></div>
    <div class="col-md-auto">
        <button class="btn btn-primary"><a style="text-decoration: none;color: aliceblue" href="/trainings/add">ADD NEW TRAINING</a></button>
    </div>
    <div class="col-sm"></div>

</div>
<br>
<br>

<table class="table">

    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Remove</th>
            <th>Update</th>
            <th>View Attendance</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="training : ${trainings}" th:if="${not #lists.isEmpty(trainings)}">
            <td th:text="${#temporals.format(training.date, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${training.type}"></td>
            <td>
                <a th:href="@{/trainings/{id}/remove(id=${training.trainingId})}">remove</a>
            </td>
            <td><a href="">update</a></td>
            <td><a th:href="@{/trainings/{id}/attendance(id=${training.trainingId})}">View attendance</a></td>
        </tr>
    </tbody>
</table>

<br>
<hr>

<div th:insert="~{fragments :: footer}"></div>


</body>
</html>
